body {
    background: #000000;
    color: #FFFFFF;
    font-family: "Times New Roman", Sans-Serif;
}

h1 {
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p{
    font-size: 24px;
    padding-top: 15px;
}

img{
    display: block;
    margin: auto;
    width: 550px;
    height: auto;
}

div{
    display: block;
    min-height: 150px;
    height: auto;
    width: auto;
    padding: 25px;
}

#red{
    background: #FF0000;
    text-align: right;
}

#blue{
    background: #0000FF;
    text-align: left;
}

#yellow{
    background: #FFFF00;
    text-align: right; 
}

#yellow p{
    color: black;
}

#yellow h2{
    color: black;
    text-shadow: 4px 4px 2px #c7e2c7;
}

#green {
    background: #006400;
    text-align: left;
}

footer p{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0px !important;
    padding-left: 0px;
}
